{{#each this}}
<li class="gallery-item">
    <div class="photo-card">
        <div class="image-thumb">
            <img 
            src={{webformatURL}} 
            data-src="{{largeImageURL}}" 
            alt="{{tags}}" 
            class="card-img" />
        </div>
        <div class="stats">
            <p class="stats-item">
                <i class="material-icons white">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons white">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons white">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons white">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}