{{#each this}}
<li class="gallery-item">
    <div class="photo-card">
        <div class="image-thumb">
            <img src={{webformatURL}} alt="{{tags}}" class="image" />
        </div>

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons powderblue">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons powderblue">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons powderblue">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons powderblue">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}